@import "../common/colors.scss";

.header {
    height: 80px;
    background-color: $secondary-color;
    color: $primary-font;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;

    a {
        color: $primary-font;
        text-decoration: none;
    }

    .search {
        width: 400px;

        input {
            height: 30px;
            width: 70%;
            padding: 0 10px;
            outline: none;
            border: none;
            background-color: transparent;
            border-bottom: 3px solid $primary-font;
            color: $primary-font;
            
        }

        button {
            cursor: pointer;
            height: 30px;
            background-color: transparent;
            border: none;
            color: $secondary-font;
            transform: scale(1.25)
        }
    }

    .user-img {
        width: 40px;
        img {
            width: 100%;
        }
    }
}